.App {
  text-align: center;
}
body{background-image: linear-gradient(rgb(243, 187, 84) 10%,pink,rgb(157, 157, 248),rgb(147, 250, 147));
font-family: 'Times New Roman', Times, serif;
}

.new{background-color: crimson;
text-decoration: none;
color: antiquewhite;
}
.texts{
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  color:chocolate
}
.new:hover{background-color: rgb(75, 255, 150);
  text-decoration: none;
  color: antiquewhite;}
ul{display: flex;
  text-align: center;
  justify-content: center;
list-style-type: none;
text-decoration: none;}
li{margin: 15px;
font-size: 20px;}
span{
writing-mode:vertical-rl;
background-color: cadetblue;
rotate: 180deg;}
Link{text-decoration: none;}

@media screen   and (max-width:1170px) {
  body{background-image: linear-gradient(rgb(243, 187, 84) 10%,pink,rgb(157, 157, 248),rgb(147, 250, 147));
    font-family: 'Times New Roman', Times, serif;}
    .texts{
      font-size: 1rem;
      font-family:'Times New Roman', Times, serif;
      color:chocolate
    }
  .new{background-color: crimson;
    text-decoration: none;
    color: antiquewhite;
    }
    .new:hover{background-color: rgb(75, 255, 150);
      text-decoration: none;
      color: antiquewhite;}
      ul{display: flex;
        flex-wrap: wrap;
        /* text-align: center;
        justify-content: center; */
      list-style-type: none;
      text-decoration: none;}
      li{margin: 10px;
        font-size: 3.4rem;}
  
}